<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">
      Process running : <i class="fa fa-circle text-<%= @running ? 'sucess' : 'danger' %>"></i> pid=<%= $pid %>
    </h3>
  </div>

  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>Atividade</th>
        <th>Horário</th>
        <th>Ultima Execução</th>
        <th class="text-center">Status</th>
        <th>Ações</th>
      </tr>
      <% 
      Delayed::Job.asc(:run_at).each do |job|
        %>
        <tr>
          <td><%= job.handler.scan(/Task::(.+) /).first.first %></td>
          <td><%= job.run_at.strftime("%d/%m - %H:%M:%S") %></td> 
          <td><%= job.created_at.strftime("%d/%m - %H:%M:%S") %></td> 
          <td class="text-center">
            <i class="fa <%= job.last_error.nil? ? 'fa-check-circle text-success' : ' fa-times text-danger' %>"></i>
          </td>
          <td>
            <button class="btn btn-success btn-ty"><i class="fa fa-play"></i></button>
          </td>
        </tr>
        <% 
      end
      %>
    </tr>
  </tbody></table>
</div>