<table width="100%">
	<tr>
		<td style="vertical-align: top">
			<%= @original_content.search("h2").first.to_html.html_safe %>
			<%= @original_content.search("td[width='30%'] > table").first.to_html.html_safe %>
		</td>
		<td style="vertical-align: top">
			<h2>Aldeias mais pr처ximas</h2>
			<table class="vis">
				<thead>
					<tr>
						<th>Aldeia</th>
						<th>Dist창ncia</th>
					</tr>
				</thead>
				<tbody>
					<% Village.my_cache.sort{|a,b| a.distance(@village) <=> b.distance(@village)}.each do |my_village| %>
					<tr>
						<td>
							<%= render_village_small(my_village ,target: @village.vid, screen: 'place') %>	
						</td>
						<td><%= my_village.distance(@village).round(2) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</td>
		<td style="vertical-align: top">
			<h2>Relat처rios</h2>
			<table class="vis">
				<thead>
					<tr>
						<th></th>
						<th>Relat처rio</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @village.reports.desc(:occurrence).limit(Village.my_cache.size).each do |report| %>
					<tr>
						<td><img src="<%= report.color %>" /></td>
						<td><%= render_troops(report.target_troops,false) %></td>
						<td>
							<a href="/game.php?village=<%= @vid %>&screen=report&mode=all&group_id=0&view=<%= report.rid %>">
								<%= report.occurrence.strftime("%d/%m - %H:%M:%S") %>
							</a>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</td>
	</tr>
</table>