<table class="vis modemenu">
	<tbody>
		<tr>
			<td class="<%= @mode=='default' ? 'selected' : '' %>" style="min-width: 80px">
				<a href="<%= generate_url(screen: 'overview_villages') %>">Recusos </a>
			</td>
			<td class="<%= @mode=='place' ? 'selected' : '' %>" style="min-width: 80px">
				<a href="<%= generate_url(screen: 'overview_villages', mode: 'place') %>">Praça</a>
			</td>
			<td class="<%= @mode=='troops' ? 'selected' : '' %>" style="min-width: 80px">
				<a href="<%= generate_url(screen: 'overview_villages', mode: 'troops') %>">Tropas</a>
			</td>
			<td class="<%= @mode=='coomands' ? 'selected' : '' %>" style="min-width: 80px">
				<a href="<%= generate_url(screen: 'overview_villages', mode: 'commands') %>">Comandos</a>
			</td>
		</tr>
	</tbody>
</table>