<% 
@villages.each do |village|
  %>
  <div class="col-md-6">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title"><%= village.name %></h3>
        <span class="pull-right"><%= render_troops(@screens[village.vid].all_units,false) %></span>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <dl class="dl-horizontal">
          <dt>Recursos</dt>
          <dd><%= render_resource(@screens[village.vid].resources) %></dd>
          <dt>Tropas paradas</dt>
          <dd><%= render_troops(@screens[village.vid].current_units,false) %></dd>
          <dt>Tropas fora</dt>
          <dd><%= render_troops(Troop.new(@screens[village.vid].all_units) - Troop.new(@screens[village.vid].current_units) ,false) %></dd>
          <dt>Utilizar em saques</dt>
          <dd on-click="/my_village/<%= village.id %>/pillage/change"><%= check_box("user_for_pillage", village.id, {checked: village.use_in_pillage != false}) %></dd>
        </dl>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <%
end
%>