<div class="row">
  <div class=" col-md-12">
    <div class="box">
      <div class="box-body">
        <table class="table table-hover villages">
          <tbody><tr>
            <th>Coordenadas</th>
            <th>Nome</th>
            <th class="text-right">Pontos</th>
            <th>Estado</th>
            <th>Próximo evento</th>
          </tr>
          <% 
          image_state = {
            "waiting_report" => "https://dsbr.innogamescdn.com/8.47.1/29553/graphic/command/attack_small.png"
          }

          my_village = Village.my.first

          @villages.sort{ |a,b|
            my_village.distance(a) <=> my_village.distance(b)

           }.each do |village|

            if (village.state == "trops_without_spy")
              current_troops = village.last_report.target_troops
            end

            %>
            <tr>
              <td><%= render_coord(village) %></td> 
              <td><%= village.name %><%= render_troops(current_troops,false) %></td> 
              <td class="text-right"><%= number_with_delimiter(village.points,delimiter: '.') %></td> 
              <td> 
                <span class="label <%= 
                village.state == 'ally' ? 'label-primary' :
                 ( village.is_threat? ? 'label-danger' : 'label-success' ) %>">
                  <%= village.state %>
                </span>
              </td> 
              <td><%= village.next_event.nil? ? nil : village.next_event.strftime("%d/%m - %H:%M:%S") %></td> 
            </tr>
            <% 
          end
          %>
        </tbody></table>
      </div>
    </div>
  </div>
</div>

