<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Distribuição dos status</h3>
      </div>
      <div class="box-body">
       <%= doughnut_chart(@data) %>
     </div>
   </div>
 </div>
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Distribuição dos status positivos/negativos</h3>
      </div>
      <div class="box-body">
       <%= bar_chart(@data2) %>
     </div>
   </div>
 </div>
</div>
<div class="row">
  <div class=" col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Bordered Table</h3>
      </div>

      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>Coordenadas</th>
            <th>Pontos</th>
            <th>Estado</th>
            <th>Próximo evento</th>
          </tr>
          <% 
          image_state = {
            "waiting_report" => "https://dsbr.innogamescdn.com/8.47.1/29553/graphic/command/attack_small.png"
          }

          my_village = Village.my.first

          @villages.sort{ |a,b|
            my_village.distance(a) <=> my_village.distance(b)

           }.each do |village|
            %>
            <tr>
              <td><%= village.x %>|<%= village.y %></td> 
              <td><%= village.points %></td> 
              <td><%= village.state %></td> 
              <td><%= village.next_event.nil? ? nil : village.next_event.strftime("%d/%m - %H:%M:%S") %></td> 
            </tr>
            <% 
          end
          %>
        </tbody></table>
      </div>
    </div>
  </div>
</div>

