<div class="row">
	<div class=" col-md-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title"><%= @village.name %></h3>
			</div>

			<div class="box-body">
				<dl class="dl-horizontal">
					<dt>Local</dt>
					<dd><%= "#{@village.x}|#{@village.y}" %></dd>
					<dt>Pontos</dt>
					<dd><%= @village.points %></dd>
					<dt>Dono</dt>
					<dd><%= @village.player.nil? ? "Barbaro": @village.player.name %></dd>
					<dt>Statue</dt>
					<dd><%= @village.state %></dd>
					<dt>Próximo evento</dt>
					<dd><%= @village.next_event.strftime("%d/%m - %H:%M:%S") %></dd>
				</dl>
				<%= @village.points_history.size %>
				<table class="table table-hover">
					<tbody><tr>
						<th></th>
						<th>Ocorrência</th>
						<th>Unidades</th>
						<th>Edifícios</th>
						<th>Recursos</th>
						<th>Saque</th>
					</tr>
					<% 
					map = {
						win: 'https://brs1.tribalwars.com.br/graphic/dots/green.png',
						win_lost: 'https://brs1.tribalwars.com.br/graphic/dots/yellow.png',
						spy: 'https://brs1.tribalwars.com.br/graphic/dots/blue.png',
						lost: 'https://brs1.tribalwars.com.br/graphic/dots/red.png',
					}

					@village.reports.desc(:occurrence).each do |report|
						%>
						<tr class="report-line" report-id="<%= report.id %>">
							<td><img src="<%= map[report.status.to_sym] %>" alt="<%= report.status %>" /></td> 
							<td><%= report.occurrence.strftime("%d/%m - %H:%M:%S") %></td> 
							<td><%= render_troops(report.target_troops,false) %></td> 
							<td><%= render_buildings(report.target_buildings) %></td> 
							<td><%= render_resource(report.resources) %></td> 
							<td><%= render_resource(report.pillage) %></td> 
						</tr>
						<% 
					end
					%>
				</tbody></table>
			</div>
		</div>
	</div>
</div>