<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title"><%= @village.name %></h3>
			</div>

			<div class="box-body">
				<dl class="dl-horizontal" class="col-md-6">
					<dt>Local</dt>
					<dd><%= "#{@village.x}|#{@village.y}" %></dd>
					<dt>Pontos</dt>
					<dd><%= @village.points %></dd>
					<dt>Dono</dt>
					<dd><%= @village.player.nil? ? "Barbaro": @village.player.name %></dd>
					<dt>Statue</dt>
					<dd><%= @village.state %></dd>
					<dt>Próximo evento</dt>
					<dd><%= @village.next_event.nil? ? nil : @village.next_event.strftime("%d/%m - %H:%M:%S") %></dd>
					<dt>Ações</dt>
					<dd>
						<a class="btn btn-primary btn-ty" href="/village/<%= @village.id %>/reset">Reiniciar alvo</a>
						<a class="btn btn-primary btn-ty" href="/village/<%= @village.id %>/send_recognition">Enviar Exploradores</a>
					</dd>
				</dl>
				<div class="col-md-6">
					<%= line_chart @points_history_chart,@opts %>
				</div>
				<table class="table table-hover">
					<tbody><tr>
						<th></th>
						<th>Ocorrência</th>
						<th>Unidades</th>
						<th>Edifícios</th>
						<th>Recursos</th>
						<th>Saque</th>
					</tr>
					<% 
					@village.reports.desc(:occurrence).each do |report|
						%>
						<tr class="report-line" report-id="<%= report.id %>">
							<td><img src="<%= @report_enum[report.status.to_sym] %>" alt="<%= report.status %>" /></td> 
							<td><%= report.occurrence.strftime("%d/%m - %H:%M:%S") %></td> 
							<td><%= render_troops(Troop.new(report.target_troops) - Troop.new(report.target_troops_losses),false) %></td> 
							<td><%= render_buildings(report.target_buildings) %></td> 
							<td><%= render_resource(report.resources) %></td> 
							<td><%= render_resource(report.pillage) %></td> 
						</tr>
						<% 
					end
					%>
				</tbody></table>
			</div>
		</div>
	</div>
</div>