<div class="row">
	<div class=" col-md-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Bordered Table</h3>
			</div>

			<div class="box-body">
				<table class="table table-hover">
					<tbody><tr>
						<th></th>
						<th>Ocorrência</th>
						<th>Saque</th>
					</tr>
					<% 
          map = {
            win: 'https://brs1.tribalwars.com.br/graphic/dots/green.png',
            win_lost: 'https://brs1.tribalwars.com.br/graphic/dots/yellow.png',
            spy: 'https://brs1.tribalwars.com.br/graphic/dots/blue.png',
            lost: 'https://brs1.tribalwars.com.br/graphic/dots/red.png',
          }


					@village.reports.desc(:occurrence).each do |report|
						%>
						<tr class="report-line" report-id="<%= report.id %>">
							<td><img src="<%= map[report.status.to_sym] %>" alt="<%= report.status %>" /></td> 
							<td><%= report.occurrence.strftime("%d/%m - %H:%M:%S") %></td> 
							<td><%= render_resource(report.pillage) %></td> 
						</tr>
						<% 
					end
					%>
				</tbody></table>
			</div>
		</div>
	</div>
</div>