<div class="box">
<!--   <div class="box-header with-border">
    <h3 class="box-title"><%= @report.origin.name %> ataca</h3>
  </div> -->
  <div class="box-body">
<!--     <div class="row">
      <div class="col-md-6">
        <%= progress_bar(80,:danger) %>
      </div>
      <div class="col-md-6">
        <%= progress_bar(-20,:green) %>
      </div>
    </div> -->
    <div class="col-md-5">
      <p><%= render_village_small(@report.origin) %></p>
      <p><%= render_troops(@report.origin_troops) %></p>

    </div>
    <div class="col-md-2 text-center">
      X
    </div>
    <div class="col-md-5 text-right">
      <p><%= render_village_small(@report.target) %></p>
      <p><%= render_troops(@report.origin_troops) %></p>
    </div>
  </div>
  <div class="box-footer">
    Footer
  </div>
</div>