<table class="vis">
	<tbody><tr>
		<th width="140">Assunto</th>
		<th width="400">
			<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/dots/green.png" class="">
			<span data-id="">
				<span class="quickedit-content">
					<span class="quickedit-label">
						<%= object.origin.player.name %> (<%= object.origin.name %>) ataca 
						<%= object.target.name %> (<%= object.target.x %>|<%= object.target.y %>)
					</span>
				</span>
			</span>
		</th>
	</tr>
	<tr>
		<td>
			Data da batalha
		</td>
		<td>
			Out 06, 2016  00:24:55<span class="small grey">:101</span>					</td>
		</tr>
		<tr>
			<td colspan="2" valign="top" height="160" style="border: solid 1px black; padding: 4px;" class="report_ReportAttack">
				<h3>Luciano Lopes venceu</h3>
				<div class="report_image image_attack_won">
					<div class="report_transparent_overlay">
						<h4>Sorte do atacante</h4>
						<table id="attack_luck"><tbody><tr>
							<td class="nobg"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/rabe_grau.png" alt="Azar" class=""></td>
							<td class="nobg">
								<table class="luck" cellspacing="0" cellpadding="0">
									<tbody><tr>
										<td class="luck-item nobg" width="50" height="12"></td>
										<td class="luck-item nobg" width="1" style="background-color: black"></td>
										<td class="luck-item nobg" width="7.14857171" style="background-image:url(https://dsbr.innogamescdn.com/8.57.1/30800/graphic/balken_glueck.png);"></td>
										<td class="luck-item nobg" width="42.85142829"></td>
									</tr>
								</tbody></table>
							</td>
							<td class="nobg"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/klee.png" alt="Sorte" class=""></td>
							<td class="nobg"><b>3.6%</b></td>
						</tr>
					</tbody></table>
					<h4>Moral: 100%</h4>
				</div>
			</div>
			<table id="attack_info_att" width="100%" style="border: 1px solid #DED3B9">
				<tbody><tr>
					<th style="width:20%">Atacante:</th>
					<th><a href="/game.php?village=18297&amp;screen=info_player&amp;id=919185913" title="Gênesis Fusion">Luciano Lopes</a></th>
				</tr>
				<tr>
					<td>Origem:</td>
					<td><span class="village_anchor contexted" data-player="919185913" data-id="18297"><a href="/game.php?village=18297&amp;screen=info_village&amp;id=18297">GUARDIAN NÃO PERDOA (399|413) K43</a><a class="ctx" href="#"></a></span></td>
				</tr>
				<tr><td colspan="2" style="padding:0px">
					<table id="attack_info_att_units" class="vis" style="border-collapse:collapse">
						<tbody><tr class="center">
							<td></td>
							<td width="35"><a class="unit_link" href="#" data-unit="spear"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_spear.png" title="Lanceiro" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="sword"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_sword.png" title="Espadachim" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="axe"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_axe.png" title="Bárbaro" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="spy"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_spy.png" title="Explorador" alt="" class=""></a></td><td width="35"><a class="unit_link" href="#" data-unit="light"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_light.png" title="Cavalaria leve" alt="" class=""></a></td><td width="35"><a class="unit_link" href="#" data-unit="heavy"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_heavy.png" title="Cavalaria pesada" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="ram"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_ram.png" title="Aríete" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="catapult"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_catapult.png" title="Catapulta" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="knight"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_knight.png" title="Paladino" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="snob"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_snob.png" title="Nobre" alt="" class="faded"></a></td>
						</tr>
						<tr>
							<td width="20%">Quantidade:</td>
							<td style="text-align:center" class="unit-item unit-item-spear hidden">0</td><td style="text-align:center" class="unit-item unit-item-sword hidden">0</td><td style="text-align:center" class="unit-item unit-item-axe hidden">0</td><td style="text-align:center" class="unit-item unit-item-spy">1</td><td style="text-align:center" class="unit-item unit-item-light">2</td><td style="text-align:center" class="unit-item unit-item-heavy hidden">0</td><td style="text-align:center" class="unit-item unit-item-ram hidden">0</td><td style="text-align:center" class="unit-item unit-item-catapult hidden">0</td><td style="text-align:center" class="unit-item unit-item-knight hidden">0</td><td style="text-align:center" class="unit-item unit-item-snob hidden">0</td>
						</tr>
						<tr>
							<td align="left" width="20%">Perdas:</td>
							<td style="text-align:center" class="unit-item unit-item-spear hidden">0</td><td style="text-align:center" class="unit-item unit-item-sword hidden">0</td><td style="text-align:center" class="unit-item unit-item-axe hidden">0</td><td style="text-align:center" class="unit-item unit-item-spy hidden">0</td><td style="text-align:center" class="unit-item unit-item-light hidden">0</td><td style="text-align:center" class="unit-item unit-item-heavy hidden">0</td><td style="text-align:center" class="unit-item unit-item-ram hidden">0</td><td style="text-align:center" class="unit-item unit-item-catapult hidden">0</td><td style="text-align:center" class="unit-item unit-item-knight hidden">0</td><td style="text-align:center" class="unit-item unit-item-snob hidden">0</td>
						</tr>
					</tbody></table>
				</td></tr>
				
			</tbody></table>
			<br>
			<table id="attack_info_def" width="100%" style="border: 1px solid #DED3B9">
				<tbody><tr>
					<th style="width:20%">Defensor:</th>
					<th>---</th>
				</tr>
				<tr>
					<td>Destino:</td>
					<td><span class="village_anchor contexted" data-player="0" data-id="17109"><a href="/game.php?village=18297&amp;screen=info_village&amp;id=17109">Aldeia de bárbaros (396|423) K43</a><a class="ctx" href="#"></a></span></td>
				</tr>
				<tr><td colspan="2" style="padding:0px">
					<table id="attack_info_def_units" class="vis" style="border-collapse:collapse">
						<tbody><tr class="center">
							<td></td>
							<td width="35"><a class="unit_link" href="#" data-unit="spear"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_spear.png" title="Lanceiro" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="sword"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_sword.png" title="Espadachim" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="axe"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_axe.png" title="Bárbaro" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="spy"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_spy.png" title="Explorador" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="light"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_light.png" title="Cavalaria leve" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="heavy"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_heavy.png" title="Cavalaria pesada" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="ram"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_ram.png" title="Aríete" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="catapult"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_catapult.png" title="Catapulta" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="knight"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_knight.png" title="Paladino" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="snob"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_snob.png" title="Nobre" alt="" class="faded"></a></td><td width="35"><a class="unit_link" href="#" data-unit="militia"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_militia.png" title="Milícia" alt="" class="faded"></a></td>
						</tr>
						<tr>
							<td width="20%">Quantidade:</td>
							<td style="text-align:center" class="unit-item unit-item-spear hidden">0</td><td style="text-align:center" class="unit-item unit-item-sword hidden">0</td><td style="text-align:center" class="unit-item unit-item-axe hidden">0</td><td style="text-align:center" class="unit-item unit-item-spy hidden">0</td><td style="text-align:center" class="unit-item unit-item-light hidden">0</td><td style="text-align:center" class="unit-item unit-item-heavy hidden">0</td><td style="text-align:center" class="unit-item unit-item-ram hidden">0</td><td style="text-align:center" class="unit-item unit-item-catapult hidden">0</td><td style="text-align:center" class="unit-item unit-item-knight hidden">0</td><td style="text-align:center" class="unit-item unit-item-snob hidden">0</td><td style="text-align:center" class="unit-item unit-item-militia hidden">0</td>
						</tr>
						<tr>
							<td align="left" width="20%">Perdas:</td>
							<td style="text-align:center" class="unit-item unit-item-spear hidden">0</td><td style="text-align:center" class="unit-item unit-item-sword hidden">0</td><td style="text-align:center" class="unit-item unit-item-axe hidden">0</td><td style="text-align:center" class="unit-item unit-item-spy hidden">0</td><td style="text-align:center" class="unit-item unit-item-light hidden">0</td><td style="text-align:center" class="unit-item unit-item-heavy hidden">0</td><td style="text-align:center" class="unit-item unit-item-ram hidden">0</td><td style="text-align:center" class="unit-item unit-item-catapult hidden">0</td><td style="text-align:center" class="unit-item unit-item-knight hidden">0</td><td style="text-align:center" class="unit-item unit-item-snob hidden">0</td><td style="text-align:center" class="unit-item unit-item-militia hidden">0</td>
						</tr>
					</tbody></table>
				</td></tr>
				
			</tbody></table>
			<br>
			<h4>Espionagem</h4>
			<table id="attack_spy_resources" style="border: 1px solid #DED3B9; width:100%;">
				<tbody><tr><th>Recursos descobertos:</th><td><span class="nowrap"><span class="icon header wood" title="Madeira"> </span>2</span> <span class="nowrap"><span class="icon header stone" title="Argila"> </span>2</span> <span class="nowrap"><span class="icon header iron" title="Ferro"> </span>0</span> </td></tr>
			</tbody></table>
			<input id="attack_spy_building_data" type="hidden" value="[{&quot;name&quot;:&quot;Edif\u00edcio principal&quot;,&quot;id&quot;:&quot;main&quot;,&quot;level&quot;:&quot;5&quot;},{&quot;name&quot;:&quot;Quartel&quot;,&quot;id&quot;:&quot;barracks&quot;,&quot;level&quot;:&quot;5&quot;},{&quot;name&quot;:&quot;Ferreiro&quot;,&quot;id&quot;:&quot;smith&quot;,&quot;level&quot;:&quot;1&quot;},{&quot;name&quot;:&quot;Pra\u00e7a de reuni\u00e3o&quot;,&quot;id&quot;:&quot;place&quot;,&quot;level&quot;:&quot;1&quot;},{&quot;name&quot;:&quot;Est\u00e1tua&quot;,&quot;id&quot;:&quot;statue&quot;,&quot;level&quot;:&quot;1&quot;},{&quot;name&quot;:&quot;Mercado&quot;,&quot;id&quot;:&quot;market&quot;,&quot;level&quot;:&quot;3&quot;},{&quot;name&quot;:&quot;Bosque&quot;,&quot;id&quot;:&quot;wood&quot;,&quot;level&quot;:&quot;4&quot;},{&quot;name&quot;:&quot;Po\u00e7o de argila&quot;,&quot;id&quot;:&quot;stone&quot;,&quot;level&quot;:&quot;4&quot;},{&quot;name&quot;:&quot;Mina de ferro&quot;,&quot;id&quot;:&quot;iron&quot;,&quot;level&quot;:&quot;3&quot;},{&quot;name&quot;:&quot;Fazenda&quot;,&quot;id&quot;:&quot;farm&quot;,&quot;level&quot;:&quot;3&quot;},{&quot;name&quot;:&quot;Armaz\u00e9m&quot;,&quot;id&quot;:&quot;storage&quot;,&quot;level&quot;:&quot;3&quot;},{&quot;name&quot;:&quot;Esconderijo&quot;,&quot;id&quot;:&quot;hide&quot;,&quot;level&quot;:&quot;1&quot;}]">
			
			<table id="attack_spy_buildings_left" style="border: 1px solid #DED3B9; width:50%; margin-top:5px; margin-bottom:5px; float:left; background-color:#EDDEB9;">
				<tbody><tr>
					<th width="20px">Edifício</th>
					<th>Nível</th>
				</tr>
				<tr>
					<td nowrap="" style="vertical-align:middle;">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/main.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Edifício principal</span>
					</td>
					<td class="middle">5</td>
				</tr>
				<tr>
					<td nowrap="" style="vertical-align:middle;">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/barracks.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Quartel</span>
					</td>
					<td class="middle">5</td>
				</tr>
				<tr>
					<td nowrap="" style="vertical-align:middle;">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/smith.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Ferreiro</span>
					</td>
					<td class="middle">1</td>
				</tr>
				<tr>
					<td nowrap="" style="vertical-align:middle;">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/place.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Praça de reunião</span>
					</td>
					<td class="middle">1</td>
				</tr>
				<tr>
					<td nowrap="" style="vertical-align:middle;">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/statue.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Estátua</span>
					</td>
					<td class="middle">1</td>
				</tr>
				<tr>
					<td nowrap="" style="vertical-align:middle;">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/market.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Mercado</span>
					</td>
					<td class="middle">3</td>
				</tr>
			</tbody></table>
			<table id="attack_spy_buildings_right" style="border: 1px solid #DED3B9; width:50%; margin-top:5px; margin-bottom:5px; float:left; background-color:#EDDEB9;">
				<tbody><tr>
					<th width="20px">Edifício</th>
					<th>Nível</th>
				</tr>
				<tr>
					<td nowrap="">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/wood.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Bosque</span>
					</td>
					<td class="middle">4</td>
				</tr>
				<tr>
					<td nowrap="">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/stone.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Poço de argila</span>
					</td>
					<td class="middle">4</td>
				</tr>
				<tr>
					<td nowrap="">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/iron.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Mina de ferro</span>
					</td>
					<td class="middle">3</td>
				</tr>
				<tr>
					<td nowrap="">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/farm.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Fazenda</span>
					</td>
					<td class="middle">3</td>
				</tr>
				<tr>
					<td nowrap="">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/storage.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Armazém</span>
					</td>
					<td class="middle">3</td>
				</tr>
				<tr>
					<td nowrap="">
						<img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/buildings/hide.png" style="max-height:16px;" alt="" class="middle"> <span class="middle">Esconderijo</span>
					</td>
					<td class="middle">1</td>
				</tr>
			</tbody></table>
			<table id="attack_spy_away" style="border: 1px solid #DED3B9; width:100%; margin-top:5px;">
				<tbody><tr><th colspan="2">Unidades fora da aldeia:</th></tr>
				<tr><td colspan="2">
					<table class="vis">
						<tbody><tr>
							<th width="35"><a href="#" class="unit_link" data-unit="spear"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_spear.png" title="Lanceiro" alt="" class="faded"></a></th><th width="35"><a href="#" class="unit_link" data-unit="sword"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_sword.png" title="Espadachim" alt="" class="faded"></a></th><th width="35"><a href="#" class="unit_link" data-unit="axe"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_axe.png" title="Bárbaro" alt="" class="faded"></a></th><th width="35"><a href="#" class="unit_link" data-unit="spy"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_spy.png" title="Explorador" alt="" class="faded"></a></th><th width="35"><a href="#" class="unit_link" data-unit="light"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_light.png" title="Cavalaria leve" alt="" class="faded"></a></th><th width="35"><a href="#" class="unit_link" data-unit="heavy"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_heavy.png" title="Cavalaria pesada" alt="" class="faded"></a></th><th width="35"><a href="#" class="unit_link" data-unit="ram"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_ram.png" title="Aríete" alt="" class="faded"></a></th><th width="35"><a href="#" class="unit_link" data-unit="catapult"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_catapult.png" title="Catapulta" alt="" class="faded"></a></th><th width="35"><a href="#" class="unit_link" data-unit="knight"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_knight.png" title="Paladino" alt="" class="faded"></a></th><th width="35"><a href="#" class="unit_link" data-unit="snob"><img src="https://dsbr.innogamescdn.com/8.57.1/30800/graphic/unit/unit_snob.png" title="Nobre" alt="" class="faded"></a></th>
						</tr>
						<tr>
							<td class="unit-item unit-item-spear hidden">0</td><td class="unit-item unit-item-sword hidden">0</td><td class="unit-item unit-item-axe hidden">0</td><td class="unit-item unit-item-spy hidden">0</td><td class="unit-item unit-item-light hidden">0</td><td class="unit-item unit-item-heavy hidden">0</td><td class="unit-item unit-item-ram hidden">0</td><td class="unit-item unit-item-catapult hidden">0</td><td class="unit-item unit-item-knight hidden">0</td><td class="unit-item unit-item-snob hidden">0</td>
						</tr>
					</tbody></table>                            </td></tr>
				</tbody></table>
				<br style="clear:both;">
				<table id="attack_results" width="100%" style="border: 1px solid #DED3B9">
					<tbody><tr>
						<th>Saque:</th>
						<td width="250"><span class="nowrap"><span class="icon header wood" title="Madeira"> </span>55</span> <span class="nowrap"><span class="icon header stone" title="Argila"> </span>55</span> <span class="nowrap"><span class="icon header iron" title="Ferro"> </span>49</span> </td>
						<td>159/160</td>
					</tr>
				</tbody></table><br>
			</td>
		</tr>
	</tbody></table>