<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag(@avatar_url, class: "img-circle") %>
      </div>
      <div class="pull-left info">
        <p><%= User.current.name %></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-line-chart text-info"></i>
          <%= number_with_delimiter(User.current.player.points, :delimiter => '.') %>
        </a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">HEADER</li> 
      <li class="<%= request.path == '/' ? 'active' : nil %>">
        <a href="/"><i class='fa fa-dashboard'></i> <span>Visão geral</span></a>
      </li>
      <li class="<%= active_route?('/my_villages') %>">
        <a href="/my_villages"><i class='fa fa-home'></i> <span>Aldeias</span></a>
      </li>

      <li class="<%= active_route?('/command') %>">
        <a href="/commands"><i class='fa fa-exchange'></i> <span>Comandos</span></a>
      </li>
      <li class="<%= active_route?('/task') %>">
        <a href="<%= task_index_path %>"><i class='fa fa-clock-o'></i> <span>Tarefas</span></a>
      </li>
      <li class="<%= active_route?('/village') %>">
        <a href="#"><i class='fa fa-dot-circle-o'></i></i> <span>Alvos</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="<%= village_index_path %>"><i class="fa fa-circle-o"></i> Todos</a></li>
          <li><a href="<%= village_index_path %>?threat=all"><i class="fa fa-circle-o"></i> Ameaças</a></li>
          <li><a href="<%= village_index_path %>?farms=all"><i class="fa fa-circle-o"></i> Farms</a></li> 
        </ul>
      </li>
      <li class="<%= active_route?('/config') %>">
        <a href="/config/index"><i class='fa fa-gear'></i> <span>Configurações</span></a>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
